$color: #ccc;
$nameColor: green;
$ageColor: violet;

.container {
  h1 {
    color: $color;
  }
  ul {
    li {
      .name {
        color: $nameColor;
      }

      .age {
        color: $ageColor;
      }
    }
  }
  .plus {
    &-small {
      font-size: 20px;
    }
    &-large {
      font-size: 50px;
    }
    &-m {
      color: red;
    }
  }
  .box {
    font: {
      weight: 700;
      size: 50px;
    }
  }
}
