$primary-color: green;
$secondary-color: #333;
$text-color-s: #333;
$text-color: white;
$back-color: white;
$border-color: #ccc;

@mixin card-style($padding: 15px, $margin-bottom: 20px, $border-radius: 5px) {
  border: 1px solid $border-color;
  border-radius: $border-radius;
  margin-bottom: $margin-bottom;
  padding: $padding;
}

@mixin flex-container($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

body {
  background-color: #ccc;
}
.container {
  $size: 20px;
  padding: $size;
  .header {
    $size: 50px;
    background-color: $primary-color;
    padding: $size;
    color: $text-color;
  }
  .nav {
    @include flex-container(row, flex-start, center);
    background-color: $secondary-color;
    padding: 20px;
    .nav-item {
      color: $text-color;
      margin: 0 15px;
    }
  }
  .content {
    background-color: $back-color;
    padding: 20px;

    .card {
      @include card-style();
      .card-title {
        font-size: 20px;
        color: $text-color-s;
        margin-bottom: 10px;
      }
      .card-description {
        font-size: 14px;
        color: $text-color-s;
      }
    }
  }
  .footer {
    background-color: $secondary-color;
    color: $text-color;
    padding: 10px;
    text-align: center;
  }
}
